/venv/
__pycache__/
*.pyc
/frontend/build/
.idea/
*.egg-info/
/dist/
*.log
frontend/vscode/node_modules/

# Build directory for Sphinx documentation
docs/_build/
docs/*.png

# Coverage reports
.coverage
htmlcov/
coverage.xml
cache/
docs/cheatsheet.pdf
\.hypothesis/
bench_results.json
all-bytes.dat
venv/
