include LICENSE
include README.md
include CHANGELOG.md
include MANUAL_COBRA.md
include cobra.mod
include cobra.toml
include pcobra.toml
include pyproject.toml
include Makefile
include install.sh
include run.sh
include clean.ps1
include .env.example

recursive-include pCobra *.py
recursive-include pCobra *.toml
recursive-include pCobra *.yaml
recursive-include pCobra *.json
recursive-include pCobra *.ini
recursive-include pCobra *.cfg
recursive-include pCobra *.md
recursive-include pCobra *.txt
recursive-include pCobra *.html

recursive-include notebooks *
recursive-include frontend/docs *
