requests
PyYAML>=6.0
jsonschema>=4.24
RestrictedPython>=8.0
packaging
pexpect
python-dotenv
psutil
pybind11
lark
tree-sitter
tree-sitter-languages
flet
holobit-sdk==1.0.8
smooth-criminal==0.4.0

argcomplete

prompt_toolkit
Pygments
