pytest==8.4.1
pytest-timeout==2.4.0
pytest-cov==6.2.1
hypothesis
flake8==7.3.0
mypy==1.17.1
bandit==1.8.6
black==25.1.0
isort==6.0.1
snakeviz==2.2.2
codecov==2.1.13
pyright
python-lsp-server
ipykernel
sphinxcontrib-plantuml==0.30
