# Dependencias esenciales para el proyecto Cobra

# Pruebas unitarias
pytest==8.4.1
pytest-timeout==2.4.0
pytest-cov==6.2.1
codecov==2.1.13

# Ejecución de la CLI y kernel de Jupyter
PyYAML==6.0.2
jsonschema==4.25.0
flet
requests
RestrictedPython==8.0
flake8==7.3.0
mypy==1.17.0
bandit==1.8.6
pyright
pybind11==3.0.0
python-lsp-server==1.13.0
packaging==25.0
snakeviz==2.2.2
lark==1.2.2
psutil==7.0.0
sphinxcontrib-plantuml==0.30
black==25.1.0
isort==6.0.1
python-dotenv
tomli
pexpect
hypothesis
holobit-sdk
ipykernel
