# Dependencias esenciales para el proyecto Cobra

# Pruebas unitarias
pytest==7.4.0
pytest-timeout==2.4.0
pytest-cov==6.2.1
codecov==2.1.13

# Ejecución de la CLI y kernel de Jupyter
ipykernel==6.29.5
PyYAML==6.0.1
agix==0.8.3
holobit-sdk
flet
requests
smooth-criminal
RestrictedPython==8.0
flake8==7.3.0
mypy==1.16.1
